 /* mail list */

 .emails-section {
     width: 100%;
     margin-right: 1em;
     padding: 10px;
     
    
 }

.mail-row{
    padding: 10px;
}

 .long-txt p{
     margin: 0;
 }
 
 .mail-row button{
    position: relative;
    z-index: 3;
 }
 .mail-list-container{
    padding: 0 10px 0 10px;
    background-color: white;
    
}

.mail-list-header{
    margin-top: 1em;
    height: 30px;
    background-color: white;
    border-radius: 0.5em 0.5em 0 0;
    
    /* background-color: aqua; */
}
.mail-list-footer{
    height: 30px;
    background-color: white;
    border-radius: 0 0 0.5em 0.5em ;
    
    /* background-color: aqua; */
 }
 