 /* note list */

 .note-list {
   /* display: flex; */
   gap: 1em;
   column-count: 3;
   column-gap: 30px
 }

 .note-index {
   text-align: center;
 }

 .add-note {
   display: inline-flex;
   place-content: center;
   background: black;
 }

 .note-li {
   margin-bottom: 1em;
 }

 .item {
   background-color: "black";
   padding: 2px;
   height: 0.5em;
   width: 0.5em;
   cursor: pointer;
   border: solid 0.5px black;
   display: flex;
   flex-direction: row;
   place-items: center;
 }