.note-preview{
    background-color: bisque;
    padding: 1em;
    position: relative;
}

.remove-btn{
    /* position: absolute; */
    /* bottom: 0; */
}

.img-preview{
    height: 100%;
    width: 70%;
}