 /* note list */

 .note-list{
    /* display: flex; */
    gap: 1em;
    column-count: 3;
    column-gap: 30px
 }

 .note-index{
   text-align: center;
 }

 .add-note{
   display: inline-flex;
   place-content: center;
   background: black;
 }

 .note-li {
   margin-bottom: 1em;
 }

