 /* note list */

 .note-list {
   gap: 1em;
   column-count: 1;
   column-gap: 30px
 }

 .note-index {
   text-align: center;
 }

 .add-note {
   display: inline-flex;
   place-content: center;
 }

 .note-li {
   margin-bottom: 1em;
 }

 .item {
   background-color: "black";
   padding: 2px;
   height: 0.5em;
   width: 0.5em;
   cursor: pointer;
   border: solid 0.5px black;
   display: flex;
   flex-direction: row;
   place-items: center;
 }

 .search-note {
   padding: 1em;
   width: 40vw;
   border-radius: 15px;
   cursor: pointer;
   margin: 1em;
   border: 1px solid #00000026;
 }

 .search-bar {
   position: absolute;
   top: 10.5em;
   left:32.5em;
 }