.note-preview{
    background-color: bisque;
    padding: 1em;
    position: relative;
    border-radius: 1em;
    break-inside:avoid;
    line-break:anywhere;
}

.remove-btn {
    opacity: 0; 
    transition: opacity 0.5s ease; 
    position: absolute;
    bottom: 0.5em;
    right:0.5em;
    border: none;
    background-color: #ffffff00;
}

.note-preview:hover .remove-btn {
    opacity: 1; 
}
.color-picking{
    opacity: 0; 
    transition: opacity 0.5s ease; 
    position: absolute;
    bottom: 0.5em;
    right:3em;
}

.note-preview:hover .color-picking {
    opacity: 1;
    cursor: pointer;
}

.img-preview {
    object-fit: cover;
    width: 100%;
}

.note-preview .pinned-note {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
    border: none;
    background-color: #ffffff00;
}

.note-preview:hover .pinned-note {
    opacity: 1; 
}

.input-add-note{
    padding: 1em;
    width: 20vw;
    border-radius: 15px;
    cursor: pointer;
}

.input-type{
    height: 100%;
    cursor: pointer;
}

