.note-preview {
    background-color: bisque;
    padding: 1em;
    position: relative;
    border-radius: 1em;
    break-inside: avoid;
    line-break: anywhere;
    max-width: 100%;
    overflow: hidden;
}

.note-preview .img,
.note-preview video {
    max-width: 100%;
    height: auto;
    top:0;
    left:0;
}

.remove-btn {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}

.note-preview:hover .remove-btn {
    opacity: 1;
}

.color-picking {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    bottom: 0.5em;
    right: 3em;
    cursor: pointer;
}

.note-preview:hover .color-picking {
    opacity: 1;
    cursor: pointer;
}

.img-preview {
    object-fit: cover;
    width: 100%;
}

.note-preview .pinned-note {
    position: absolute;
    top: 15px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
    border: none;
    background-color: #ffffff00;
}

.note-preview:hover .pinned-note {
    opacity: 1;
}

.input-add-note {
    padding: 1em;
    width: 70%;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    border: 1px solid #0000002e;
    margin-bottom: 1em;
}

.input-type {
    height: 100%;
    cursor: pointer;
    border-radius: 0.5em;
    border: none;
    background-color: #ffffff00;
}

.color-input .items-container {
    position: absolute;
    border-radius: 50%;
    display: flex;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.note-preview:hover .items-container {
    opacity: 1;
    cursor: pointer;
}

.duplicate-btn{
    border: none;
    background-color: #ffffff00;
    position: absolute;
    bottom: 0.5em;
    right: 2.5em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.note-preview:hover .duplicate-btn {
    opacity: 1;
    cursor: pointer;
}

.item {
    border-radius: 50%;
    padding: 0.3em
}

.note-mail-btn{
    position: absolute;
    bottom: 0.5em;
    right: 4em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.note-preview:hover .note-mail-btn {
    opacity: 1;
    cursor: pointer;
}

.todo-li{
    text-decoration: none;
    list-style-type: none;
}
